.form__wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;

    form{
        width: 30dvw;
    }

    .form__title{
        font-size: 32px;
        line-height: 36px;
        font-weight: 600;
        width: 30dvw;
        text-align: center;
    }

    .form__open-authorization{
        cursor: pointer;
        background-color: transparent;
        padding-left: 0px;
    }
}

@media (max-width: 880px){
    .form__wrapper{
        form{
            width: 100%;
        }
        
        .form__title{
            width: 100%;
        }
    }
}
